<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizaciones de datos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.6/processing.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
        body, html {
            height: 100%;
            overflow: hidden;
        }
        #container {
            height: 100%;
        }
        .tabcontent {
            display: none;
            height: calc(100% - 56px); /* Adjust height to account for the navbar */
            padding: 20px;
            overflow-y: auto;
        }
        .active {
            display: block;
        }
        .form-group label {
            font-weight: bold;
        }
        .dropdown-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
        .custom-block {
            background-color: #f8f9fa; /* Light gray background */
            padding: 20px;
            border-radius: 5px;
            margin: 20px 0;
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--  <a class="navbar-brand" href="#">Haciendo visible la ENUT</a> -->
        <a class="navbar-brand" href="#">(A)SÍNCRONO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'Sobre el proyecto')">Sobre el proyecto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'Visualizacion')">Visualización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'Sobre las visualizaciones')">Sobre las visualizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'Le alcanza el tiempo')">¿Le alcanza el tiempo?</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="container" class="container-fluid">
        <div id="Visualizacion" class="tabcontent active">
            <div class="row">
                <div class="col-12">
                    <div id="controls" class="mt-3">
                        <div id="dropdowns" class="dropdown-container">
                            <div class="form-group">
                                <label for="x-axis-dropdown">Clasificar población por:</label>
                                <select id="x-axis-dropdown" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label for="y-axis-dropdown">Tiempo que le dedica en promedio una persona a:</label>
                                <select id="y-axis-dropdown" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label for="chart-type-dropdown">Tipo de gráfica:</label>
                                <select id="chart-type-dropdown" class="form-control"></select>
                            </div>
                        </div>
                        <button id="ver-button" class="btn btn-primary mt-3" disabled>Ver</button>
                    </div>
                    <div id="graph" class="mt-3"></div>
                    <div id="sketch"></div>
                    <iframe id="dynamicFrame" width="100%" height="80%" top="80" style="display: none;"></iframe>
                </div>
            </div>
        </div>

        <div id="Sobre el proyecto" class="tabcontent">
            <div class="row">
                <div class="col-md-6">
                    <h2>Sobre el proyecto</h2>
                    <p>Esta iniciativa surge como el proyecto de grado de la Universidad de los Andes de <a href="https://www.linkedin.com/in/benjam%C3%ADn-reyes-pisciotti-9858251bb/">Benjamín Reyes Pisciotti</a>" (Diseño) y <a href="https://www.linkedin.com/in/pablo-pastrana-vega-59b10b157/">Pablo Pastrana Vega</a>" (Ing. de Sistemas). Por medio de este, se busca cumplir dos objetivos: fomentar el aprovechamiento de fuentes de datos abiertas e implementar visualizaciones innovadoras transmitan insights valiosos sobre los datos.</p>
                    <p>Elegimos esta base de datos porque nos pareció tremendamente interesante que exista un esfuerzo a nivel nacional por entender cómo utiliza el tiempo la gente y nos sorprendió lo poco que se usa y se conoce esta. Esperamos que esta herramienta despierte este mismos interés en ustedes, que se diviertan interactuando con los datos y que logren llevarse conclusiones, inquietudes o preguntas a partir de todo lo que tienen por decir estos datos.</p>

                    <h3>ENUT</h3>
                    <p>La <a href="https://www.dane.gov.co/index.php/estadisticas-por-tema/pobreza-y-condiciones-de-vida/encuesta-nacional-del-uso-del-tiempo-enut">Encuesta Nacional del Uso del Tiempo</a> es realizada por el DANE cada tres años para conocer cómo distribuyen el tiempo los colombianos en sus actividades cotidianas y para hacerle seguimiento a una infinidad de fenómenos tales como la equidad de género en el trabajo. Se trabajó con la versión más reciente de la Encuesta (2021), cuya muestra es de 49.519 hogares repartidos en zonas rurales y urbanas. Aunque esta base de datos está disponible en un formato muy completo y aprovechable, su utilización requiere conocimiento técnico. Este proyecto busca eliminar esa barrera y permitirle utilizarla a una población muy amplia que puede beneficiarse de esta base de datos.</p>
                    <h3>Implementación</h3>
                    <p>Para la construcción de esta herramienta, se descargó la base de datos abierta del ENUT 2021 disponible en la página del DANE. Estos datos fueron procesados usando Python y bibliotecas como Pandas, Matplotlib y Seaborn. Posteriormente, las gráficas fueron creadas usando Plotly, Processing (P5) y Blender. Por último, esta página web a través de la cual los usuarios pueden interactuar con los datos fue creada utilizando Flask.</p>
                </div>
                <div class="col-md-6">
                    <img src="../images/foto_encuesta.jpg" alt="ENUT" class="img-fluid">
                    <br><br>
                    <img src="../images/diagrama.png" alt="ENUT" class="img-fluid">
                </div>
            </div>
        
        </div>
        

        <div id="Sobre las visualizaciones" class="tabcontent">
            <h2>Creando nuevas visualizaciones</h2>
            <div class="container mt-4">
                <div class="row text-image-block">
                    <div class="col-md-6">
                        <h4>Visualización dinámica</h4>
                        <p>Para la primera de las visualizaciones, se realizó una animación. Esto se entiende para el proyecto como una visualización de datos 2D en donde el tiempo juega un rol fundamental en el desarrollo de la visualización. Así, el tiempo se vuelve un recurso más para hacer sentir al observador el paso del tiempo. Adicionalmente se usa un año como la totalidad de la animación para evidenciar cómo las actividades que realizamos diariamente se acumulan a lo largo del tiempo.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../images/dinamica.png" class="img-fluid" alt="Image 1">
                    </div>
                </div>
                <div class="row text-image-block">
                    <div class="col-md-6 order-md-2">
                        <br><br>
                        <h4>Visualización sonora</h4>
                        <p>La visualización auditiva aprovecha las diferencias sonoras de las diferentes actividades para crear paisajes sonoros que evidencien los datos. La duración de cada sonido representa el tiempo dedicado a cada una de las actividades. El sonido escogido apunta directamente al contexto de cada una de las actividades. De esta manera se genera una visualización que requiere de la atención del usuario: este debe ser consciente de la duración de cada sonido. Esta interacción fomenta una relación más personal y bilateral con los datos.</p>
                    </div>
                    <div class="col-md-6 order-md-1">
                        <br><br>
                        <img src="../images/sonora.png" class="img-fluid" alt="Image 2">
                    </div>
                </div>
            </div>
        </div>
        
        <div id="Le alcanza el tiempo" class="tabcontent">

            <div class="row">
                <div class="col-md-6">
                    <h3>A todos nos alcanza (o no) el tiempo igual</h3>
                    <div><p> </p></div>
                    <p>A continuación se grafican las respuestas de los encuestados a la siguiente pregunta:</p>
                    <p> </p><i>¿Considera que, durante un día promedio, el tiempo es suficiente para realizar todas sus actividades?</i> </p>
                    <p>Estos resultados se alinean muy bien con algunas de las conclusiones centrales de este proyecto. Creemos que la exploración de los datos por medio de la herramienta representa un esfuerzo hacia derribar estereotipos y hacia entender mejor a la sociedad colombiana.</p>
                    <div class="custom-block"> <strong>Somos más similares de lo que creemos</strong>.</div>
                </div>
                <div class="col-md-6">
                    <div id="imageCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                        <ol class="carousel-indicators">
                            <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#imageCarousel" data-slide-to="1"></li>
                            <li data-target="#imageCarousel" data-slide-to="2"></li>
                            <li data-target="#imageCarousel" data-slide-to="3"></li>
                            <li data-target="#imageCarousel" data-slide-to="4"></li>
                            <li data-target="#imageCarousel" data-slide-to="5"></li>
                            <li data-target="#imageCarousel" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../images/estrato.png" class="d-block w-100" alt="Image 1">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/sexo.png" class="d-block w-100" alt="Image 2">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/etnia.png" class="d-block w-100" alt="Image 3">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/urbana.png" class="d-block w-100" alt="Image 4">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/internet.png" class="d-block w-100" alt="Image 5">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/edad.png" class="d-block w-100" alt="Image 6">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/region.png" class="d-block w-100" alt="Image 7">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
             </div>
        </div>
    </div>


    <main></main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("nav-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function updateVoteResults(votes) {
            var voteData = [{
                x: ['Sí', 'No'],
                y: [votes.yes, votes.no],
                type: 'bar'
            }];
            var voteLayout = {
                title: 'Resultados de la Votación'
            };
            Plotly.newPlot('vote-results', voteData, voteLayout);
        }

        document.addEventListener("DOMContentLoaded", function() {

        fetch('/data')
            .then(response => response.json())
            .then(data => {
                // Populate dropdown menus
                let firstDropdownColumns = ['Edad', 'Sexo', 'Grupo etnico', 'Region', 'Urbana o rural', 'Estrato', 'Si tiene acceso a internet o no']; 
                let secondDropdownColumns = ['Dormir', 'Descansar', 'Hacer deporte', 'Caminar', 'Ir a bares o fiestas', 'Conversar', 'Navegar en internet', 
                'Navegar en internet mientras hace otra actividad', 'Leer', 'Tocar un instrumento musical', 'Escuchar musica',
                'Escuchar musica mientras hace otra actividad', 'Aconsejar o consolar a alguien', 'Rezar o meditar', 'Cuidar mascotas', 'Cuidar plantas',
                'Sembrar plantas para el consumo del hogar', 'Criar o cazar animales para el consumo del hogar', 'Jugar con ninos', 'Leerle cuentos a ninos',
                'Llevar ninos al parque'];
                let chartTypes = ['Barra', 'Torta', 'Dinamica', 'Sonora'];

                let xDropdown = document.getElementById('x-axis-dropdown');
                let yDropdown = document.getElementById('y-axis-dropdown');
                let chartTypeDropdown = document.getElementById('chart-type-dropdown');

                firstDropdownColumns.forEach(col => {
                    let option = document.createElement('option');
                    option.text = col;
                    option.value = col.toLowerCase().replaceAll(' ', '-');
                    xDropdown.add(option);
                });

                secondDropdownColumns.forEach(col => {
                    let option = document.createElement('option');
                    option.text = col;
                    option.value = col.toLowerCase().replaceAll(' ', '-');
                    yDropdown.add(option);
                });

                chartTypes.forEach(type => {
                    let option = document.createElement('option');
                    option.text = type;
                    option.value = type.toLowerCase();
                    chartTypeDropdown.add(option);
                });

                let xAxisValue = document.getElementById('x-axis-dropdown').value;
                let yAxisValue = document.getElementById('y-axis-dropdown').value;
                let chartTypeValue = document.getElementById('chart-type-dropdown').value;
                document.getElementById('ver-button').disabled = !(xAxisValue && yAxisValue && chartTypeValue);

                // Add event listener to button
                document.getElementById('ver-button').addEventListener('click', createGraph);

                function createGraph() {

                    let xVariable = document.getElementById('x-axis-dropdown').value;
                    let yVariable = document.getElementById('y-axis-dropdown').value;
                    let chartType = document.getElementById('chart-type-dropdown').value;
                    let dynamicFrame = document.getElementById('dynamicFrame');

                    let xData = data.map(row => row[xVariable]);
                    let yData = data.map(row => row[yVariable]);
                    let averages = [];
                    let circulos = [];

                    //hacer que xData
                    let graphDiv = document.getElementById('graph');

                    fetch('/config.json')
                        .then(response => response.json())
                        .then(config => {
                            // Modify values in config.json
                            config.xVariable = xVariable;
                            config.yVariable = yVariable;

                            if(xVariable == 'edad'){
                                config.percentages = [0, 3, 12, 22, 45, 15, 3];

                                let totals = [0,0,0,0,0,0,0];
                                let counts = [0,0,0,0,0,0,0];
                                let age;

                                for (let i = 0; i < data.length; i++) {
                                    age = data[i]['edad'];

                                    if (data[i][yVariable] === null)
                                    {
                                        
                                    }
                                    else if (age === '0-5') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (age === '6-11') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }

                                    else if (age === '12-18') {
                                        totals[2] += data[i][yVariable];
                                        counts[2]++;
                                    }

                                    else if (age === '19-30') {
                                        totals[3] += data[i][yVariable];
                                        counts[3]++;
                                    }

                                    else if (age === '31-60') {
                                        totals[4] += data[i][yVariable];
                                        counts[4]++;
                                    }

                                    else if (age === '61-80') {
                                        totals[5] += data[i][yVariable];
                                        counts[5]++;
                                    }

                                    else if (age === '81+') {
                                        totals[6] += data[i][yVariable];
                                        counts[6]++;
                                    }
                                    
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);
                                averages.push(totals[2] / counts[2]);
                                averages.push(totals[3] / counts[3]);
                                averages.push(totals[4] / counts[4]);
                                averages.push(totals[5] / counts[5]);
                                averages.push(totals[6] / counts[6]);

                                config.grupos = ['0-5 años', '6-11 años', '12-18 años', '19-30 años', '31-60 años', '61-80 años', '81+ años'];
                            }
                            else if(xVariable == 'sexo'){
                                config.percentages = [53, 47];

                                let sexo;
                                let totals = [0,0];
                                let counts = [0,0];

                                for (let i = 0; i < data.length; i++) {
                                    sexo = data[i]['sexo'];

                                    if (data[i][yVariable] === null)
                                    {
                                        
                                    }
                                    else if (sexo === 'mujer') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (sexo === 'hombre') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }
                                    
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);

                                config.grupos = ['mujeres', 'hombres'];
                            }
                            else if(xVariable == 'grupo-etnico'){
                                config.percentages = [83, 7, 4, 3, 2, 1]

                                let totals = [0,0,0,0,0,0];
                                let counts = [0,0,0,0,0,0];
                                let etnia;

                                for (let i = 0; i < data.length; i++) {
                                    etnia = data[i]['grupo-etnico'];

                                    if (data[i][yVariable] === null)
                                    {
                                        
                                    }
                                    else if (etnia === 'ninguna de las anteriores') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (etnia === 'negro/a, afro') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }
                                    else if (etnia === 'indigena') {
                                        totals[2] += data[i][yVariable];
                                        counts[2]++;
                                    }
                                    else if (etnia === 'raizal del archipielago') {
                                        totals[3] += data[i][yVariable];
                                        counts[3]++;
                                    }
                                    else if (etnia === 'palenquero de san basilio') {
                                        totals[4] += data[i][yVariable];
                                        counts[4]++;
                                    }
                                    else if (etnia === 'gitano/a, rom') {
                                        totals[5] += data[i][yVariable];
                                        counts[5]++;
                                    }
                                    
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);
                                averages.push(totals[2] / counts[2]);
                                averages.push(totals[3] / counts[3]);
                                averages.push(totals[4] / counts[4]);
                                averages.push(totals[5] / counts[5]);

                                config.grupos = ['ninguna de las anteriores', 'negro/a, afro', 'indigena', 'raizal del archipielago', 'palenquero de san basilio', 'gitano/a, rom'];
                            }
                            else if(xVariable == 'region'){
                                config.percentages = [24, 23, 18, 16, 16, 3];
                                
                                let totals = [0,0,0,0,0,0];
                                let counts = [0,0,0,0,0,0];
                                let region;

                                for (let i = 0; i < data.length; i++) {
                                    region = data[i]['region'];
                                    //console.log(data[i][yVariable]);

                                    if (data[i][yVariable] === null)
                                    {

                                    }
                                    else if (region === 'central') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (region === 'caribe') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }
                                    else if (region === 'oriental') {
                                        totals[2] += data[i][yVariable];
                                        counts[2]++;
                                    }
                                    else if (region === 'pacifica') {
                                        totals[3] += data[i][yVariable];
                                        counts[3]++;
                                    }
                                    else if (region === 'bogota') {
                                        totals[4] += data[i][yVariable];
                                        counts[4]++;
                                    }
                                    else if (region === 'san andres') {
                                        totals[5] += data[i][yVariable];
                                        counts[5]++;
                                    }
                                    
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);
                                averages.push(totals[2] / counts[2]);
                                averages.push(totals[3] / counts[3]);
                                averages.push(totals[4] / counts[4]);
                                averages.push(totals[5] / counts[5]);

                                config.grupos = ['región central', 'región caribe', 'región oriental', 'región pacífica', 'Bogotá', 'San Andrés y Providencia'];
                            }
                            else if(xVariable == 'urbana-o-rural'){
                                config.percentages = [80, 20];

                                let totals = [0,0];
                                let counts = [0,0];
                                let zona;
                                
                                for (let i = 0; i < data.length; i++) {
                                    zona = data[i]['urbana-o-rural'];

                                    if (data[i][yVariable] === null)
                                    {
                                        
                                    }
                                    else if (zona === 'urbano') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (zona === 'rural') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);

                                config.grupos = ['zona rural', 'zona urbana'];
                            }
                            else if(xVariable == 'estrato'){
                                config.percentages = [38, 33, 19, 5, 3, 2];

                                let totals = [0,0,0,0,0,0];
                                let counts = [0,0,0,0,0,0];
                                let estrato;

                                for (let i = 0; i < data.length; i++) {
                                    estrato = data[i]['estrato'];

                                    if (data[i][yVariable] === null)
                                    {
                                        
                                    }
                                    else if (estrato === '1') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (estrato === '2') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }
                                    else if (estrato === '3') {
                                        totals[2] += data[i][yVariable];
                                        counts[2]++;
                                    }
                                    else if (estrato === '4') {
                                        totals[3] += data[i][yVariable];
                                        counts[3]++;
                                    }
                                    else if (estrato === '5') {
                                        totals[4] += data[i][yVariable];
                                        counts[4]++;
                                    }
                                    else if (estrato === '6') {
                                        totals[5] += data[i][yVariable];
                                        counts[5]++;
                                    }
                                    
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);
                                averages.push(totals[2] / counts[2]);
                                averages.push(totals[3] / counts[3]);
                                averages.push(totals[4] / counts[4]);
                                averages.push(totals[5] / counts[5]);

                                config.grupos = ['estrato 1', 'estrato 2', 'estrato 3', 'estrato 4', 'estrato 5', 'estrato 6'];
                            }
                            else if(xVariable == 'si-tiene-acceso-a-internet-o-no'){
                                config.percentages = [69, 31];

                                let totals = [0,0];
                                let counts = [0,0];
                                let acceso;

                                for (let i = 0; i < data.length; i++) {
                                    acceso = data[i]['si-tiene-acceso-a-internet-o-no'];

                                    if (data[i][yVariable] === null)
                                    {
                                        
                                    }
                                    else if (acceso === 'si') {
                                        totals[0] += data[i][yVariable];
                                        counts[0]++;
                                    }
                                    else if (acceso === 'no') {
                                        totals[1] += data[i][yVariable];
                                        counts[1]++;
                                    }
                                }

                                averages.push(totals[0] / counts[0]);
                                averages.push(totals[1] / counts[1]);

                                config.grupos = ['tiene acceso a internet', 'no tiene acceso a internet'];
                            }

                            config.promedios = averages;
                            circulos = averages.slice(); // create a copy of averages

                            for (let i = 0; i < circulos.length; i++) {
                                circulos[i] = averages[i];
                                circulos[i] = Math.round(circulos[i] * 12);
                            }
                            config.blueCircles = circulos;
                                                        
                            // Save modified config.json
                            fetch('/save-config', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(config)
                            })
                            .then(response => {
                                if (response.ok) {
                                    console.log('Config file saved successfully');
                                    // console.log(config.blueCircles);
                                    // console.log(config.promedios);
                                } else {
                                    console.error('Failed to save config file');
                                }
                            })
                            .catch(error => {
                                console.error('Error saving config file:', error);
                            });

                        if (chartType === 'torta') {
                            dynamicFrame.style.display = 'none';
                            dynamicFrame.muted = true;

                            // Create Plotly trace for pie chart
                            console.log(config.xVariable);
                            console.log(config.yVariable);

                            let trace = {
                                labels: config.grupos,
                                values: config.promedios,
                                type: 'pie'
                            };

                            // Create Plotly layout for pie chart
                            let layout = {
                                title: `Tiempo dedicado a ${yVariable.replaceAll('-', ' ')} según ${xVariable.replaceAll('-', ' ')}`
                            };

                            // Create Plotly figure for pie chart
                            Plotly.newPlot(graphDiv, [trace], layout);

                        } else if (chartType === 'barra') {
                            dynamicFrame.style.display = 'none';
                            dynamicFrame.muted = true;

                            // Create Plotly trace for bar graph
                            let trace = {
                                x: config.grupos,
                                y: config.promedios,
                                type: 'bar'
                            };

                            // Create Plotly layout for bar graph
                            let layout = {
                                title: `Tiempo dedicado a ${yVariable.replaceAll('-', ' ')} según ${xVariable.replaceAll('-', ' ')}`,
                                xaxis: { title: xVariable.replaceAll('-', ' ')},
                                yaxis: { title: `Horas dedicadas a ${yVariable.replaceAll('-', ' ')} por día.` }
                            };

                            // Create Plotly figure for bar graph
                            Plotly.newPlot(graphDiv, [trace], layout);

                        } 
                        
                        else if (chartType === 'dinamica') {
                            // Delete previous plotly-generated graphs
                            Plotly.purge(graphDiv);

                            // Stop audio generated by ../../visualizaciones/Visauditiva.html'
                            dynamicFrame.style.display = 'none';
                            dynamicFrame.muted = true;

                            dynamicFrame.style.display = 'block';
                            dynamicFrame.src = '../../visualizaciones/visualizacionCaller.html';
                            dynamicFrame.style.width = '163%';
                            dynamicFrame.style.height = '650%';
                            dynamicFrame.style.top = '-100%';
                            dynamicFrame.style.left = '-30%';
                            dynamicFrame.style.position = 'absolute';
                            dynamicFrame.style.zIndex = '0';
                            dynamicFrame.style.transform = 'scale(0.4)';
                        }

                        else if (chartType === 'sonora') {
                            Plotly.purge(graphDiv);
                            dynamicFrame.style.display = 'none';
                            
                            dynamicFrame.style.display = 'block';
                            dynamicFrame.src = '../../visualizaciones/Visauditiva.html';
                            dynamicFrame.style.width = '163%';
                            dynamicFrame.style.height = '650%';
                            dynamicFrame.style.top = '-100%';
                            dynamicFrame.style.left = '-30%';
                            dynamicFrame.style.position = 'absolute';
                            dynamicFrame.style.zIndex = '0';
                            dynamicFrame.style.transform = 'scale(0.4)';
                        }

                    });

                }
                
            
            });
        });
        </script>
        </div>
    </body>
</html>